body {
/*   font-family: monospace; */
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header {
  display: flex;
  align-items: center;
}

h1 {
  flex-grow: 1;
  text-align: center;
  margin: 0 0.5em;
  font-size: 200%;
}

#mapid {
  height: 100%;
}

/* #topright > img {
  right: 0;
  height: 3em;
  filter: invert(82%) sepia(14%) saturate(17%) hue-rotate(314deg) brightness(94%) contrast(87%);
}

#imgs > img {
  position: absolute;
}

#activities {
  -webkit-mask-image: url(https://storage.googleapis.com/webfiles-rtg-carlwa/progressMask.png);
  mask-image: url(https://storage.googleapis.com/webfiles-rtg-carlwa/progressMask.png);
  filter: hue-rotate(255deg);
} */
