body {
/*   font-family: monospace; */
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

header {
  display: flex;
  align-items: center;
}

h1 {
  flex-grow: 1;
  text-align: center;
  margin: 0 0.5em;
  font-size: 200%;
}

#mapid {
  height: 100%;
}
